@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/flagged/photo-1564740839423-076f586e1cee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
  background-attachment: fixed;
  font-family: 'Frijole', cursive;
  color: #F2ECEC;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

nav {
  background-image: url("https://images.unsplash.com/flagged/photo-1564740839423-076f586e1cee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
  background-attachment: fixed;
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 75px;
  max-height: 75px;
  padding: 10px 0;
  border-bottom: 1px solid #F2ECEC;
}

nav #brand {
  height: 75px;
}

nav ul {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul a {
  line-height: 75px;
}

@media (max-width: 768px) {
  nav ul li:first-child, nav ul li:last-child {
    display: none;
  }
}

header {
  width: 90%;
  margin: 25px auto;
}

header h1 {
  margin-top: 125px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

main {
  width: 90%;
  margin: 25px auto;
  color: #F2ECEC;
}

main #who-are-we #images-box {
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #who-are-we #images-box img {
  width: 30%;
  border-radius: 50px 0 50px 0;
  border: 1px solid #F2ECEC;
  margin: 10px auto;
  opacity: 0.75;
}

@media (max-width: 768px) {
  main #who-are-we #images-box img {
    width: 90%;
  }
}

main #who-are-we #images-box img:hover {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 1;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  border-radius: 0 50px 0 50px;
}

main #quotations figure {
  width: 50%;
  margin: 50px auto;
  opacity: 0.5;
}

main #quotations figure img {
  width: 100%;
}

main #quotations figure:hover {
  -webkit-transition: all 1.6s;
  transition: all 1.6s;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  main #quotations figure {
    width: 90%;
  }
}

main #where-to-find-us img {
  width: 50%;
  margin: 25px auto;
  opacity: 0.75;
  border-radius: 10px;
}

main #where-to-find-us img:hover {
  opacity: 1;
  -webkit-transition: all 2.4s;
  transition: all 2.4s;
}

@media (max-width: 768px) {
  main #where-to-find-us img {
    width: 90%;
  }
}
