@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Henny Penny', cursive;
  background-image: url("https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-image: url("https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header nav ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul a {
  font-size: 1.5rem;
  color: rgba(150, 20, 20, 0.5);
  text-shadow: -1px 1px 1px #FFC600;
  text-decoration: none;
}

header nav ul a:hover {
  text-decoration: underline;
  color: #FFC600;
  text-shadow: -2px 2px 2px rgba(150, 20, 20, 0.5);
}

@media only screen and (max-width: 768px) {
  header nav ul a {
    font-size: 1rem;
  }
}

header h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(150, 20, 20, 0.5);
  text-shadow: -1px 1px 1px #FFC600;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 1rem;
  }
}

header .keys {
  margin-top: 150px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .key {
  border: 0.4rem solid rgba(150, 20, 20, 0.5);
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 4.5rem;
  text-align: center;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1rem #000;
  cursor: not-allowed;
}

header .playing {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: rgba(150, 20, 20, 0.5);
  text-shadow: 0 0 1rem #FFF;
  border-color: #FFC600;
  -webkit-box-shadow: 0 0 1rem #FFC600;
          box-shadow: 0 0 1rem #FFC600;
}

header kbd {
  display: block;
  font-size: 1rem;
}

header .sound {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #FFC600;
}

main {
  background-image: linear-gradient(45deg, #ffdd66 0%, #FFF 20%, #FFF 80%, #e32d2d 100%);
}

main section {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

main section h2 {
  font-size: 2rem;
  color: #961414;
}

main section p {
  font-family: 'Kavoon', cursive;
}

#list-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#list-products img {
  width: 700px;
  margin: 10px;
  border-radius: 20px 0 20px 0;
  opacity: 0.8;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

#list-products img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.empty {
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#team-members figure {
  margin: 10px;
}

#team-members figure img {
  width: 500px;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: border-radius 0.8s;
  transition: border-radius 0.8s;
}

#team-members figure img:hover {
  border-radius: 30%;
  opacity: 1;
}

@media only screen and (max-width: 520px) {
  #team-members figure img {
    width: 350px;
  }
}

#team-members figure figcaption {
  color: #961414;
}

#contact .fas {
  color: #FFC600;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.4rem;
}

.far:hover, .fas:hover {
  -webkit-transition: 2.8s;
  transition: 2.8s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

footer {
  font-family: 'Kavoon', cursive;
  text-align: center;
  color: #961414;
  margin: 0;
  padding: 25px;
}

footer a {
  color: #961414;
}

footer a:hover {
  text-decoration: none;
  color: #FFC600;
}
/*# sourceMappingURL=style.css.map */